// Configuration for the Scalyr Agent. For help:
//
// https://www.scalyr.com/help/scalyr-agent-2

{
  // Enter a "Write Logs" api key for your account. These are available at https://www.scalyr.com/keys
  api_key: "{{ scalyr_api_key }}",

  // Fields describing this server. These fields are attached to each log message, and
  // can be used to filter data from a particular server or group of servers.
  server_attributes: {
     // Fill in this field if you'd like to override the server's hostname.
     // serverHost: "REPLACE THIS",

     // You can add whatever additional fields you'd like.
     // tier: "production"
     tag_role: "{{ ec2_tag_role }}"
     tag_cluster: "{{ ec2_tag_cluster}}"
{% if ec2_tag_mirror is defined %}
     tag_mirror: "{{ ec2_tag_mirror }}"
{% endif %}

  }

  // Log files to upload to Scalyr. You can use * wildcards here.
  logs: [
{% if ec2_tag_role == "ha" or ec2_tag_role == "app"  %}
     { path: "/mnt/logs/nginx/error.log", attributes: {parser: "accessLog"} },
{% if nginx_logs %}
     { path: "/mnt/logs/nginx/access.log", attributes: {parser: "accessLog"} },
{% endif %}
{% endif %}
     { path: "/var/log/syslog", attributes: {parser: "system-messages"} },
     { path: "/var/log/dmesg", attributes: {parser: "system-messages"} },
     { path: "/var/log/*.log", attributes: {parser: "system-messages"} },
     { path: "/mnt/logs/*.log", attributes: {parser: "sunnylabsLog"} },
  ],

  monitors: [
  ]
}
